---
import Layout from '../layouts/Layout.astro';
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);

if(session === null) {
	return Astro.redirect("/");
}

const inventory = await fetch(
`${import.meta.env.WORLD_API_URL}inventory/`,
	{
		headers: {
			// @ts-ignore
			token: session.accessToken
		},
	},
);

if(inventory.status === 401) {
	return Astro.redirect("/");
}

const data = await inventory.json();
---

<Layout title="Inventory" favicon="🎒">
		<h1>{session.user?.name}'s Inventory</h1>
		<h2>{data.inventory.total} items</h2>
		<table>
			<thead>
				<th>Item</th>
				<th class="number">Count</th>
				<th class="number">Rarity</th>
			</thead>
			<tbody>
				{data.inventory.items?.map(item => <tr><td>{item.name}</td><td class="number">{item.count}</td><td class="number">{item.rarity}</td></tr>)}
			</tbody>
		</table>
</Layout>

<style>
	table {
		text-align: left;
		width: 100%;
		border-collapse:collapse;
	}

	th {
		padding: 0.25rem;
		border: 1px solid #bbb;
		background-color: #ccc;
	}

	td {
		border: 1px solid #bbb;
		padding: 0.25rem;
	}

	.number {
		text-align: center;
	}
</style>

