---
import Layout from '../layouts/Layout.astro';
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);

if(session === null) {
	return Astro.redirect("/");
}

const inventory = await fetch(
`${import.meta.env.WORLD_API_URL}inventory/`,
	{
		headers: {
			// @ts-ignore
			token: session.accessToken
		},
	},
);

const data = await inventory.json();

if(data.inventory.status === 401) {
	/* DEV */
	Astro.cookies.delete("authjs.csrf-token");
	Astro.cookies.delete("authjs.callback-url");
	Astro.cookies.delete("authjs.session-token");

	/* PROD */
	Astro.cookies.delete("__Host-authjs.csrf-token");
	Astro.cookies.delete("__Secure-authjs.callback-url");
	Astro.cookies.delete("__Secure-authjs.session-token");

	return Astro.redirect("/");
}

//todo - add location
---

<Layout title="Inventory" favicon="🎒" description="View your items">
		<h1>{session.user?.name}'s Inventory</h1>
		<h2>{data.inventory.total} items</h2>
		<table>
			<thead>
				<th>Item</th>
				<th>Count</th>
				<th>Rarity</th>
			</thead>
			<tbody>
				{data.inventory.items?.map(item => <tr><td>{item.name}</td><td>{item.count}</td><td>{item.rarity}</td></tr>)}
			</tbody>
		</table>
</Layout>
